<h1 mat-dialog-title>
    {{ data?.editarUsuario ? "Editando" : "Creando" }} usuario
  </h1>
  
  <div mat-dialog-content>
    <form [formGroup]="usuarioFormulario">
      <div class="row">
        <div class="col-6">
          <mat-form-field class="example-form-field w-100">
            <mat-label>Nombre</mat-label>
            <input formControlName="nombre" matInput type="text" />
            <mat-error>
              @if(usuarioFormulario.get('nombre')?.hasError('required')) { Este campo es
              requerido }
              @else if(usuarioFormulario.get('nombre')?.hasError('maxlength')){
                El nombre no puede tener más de 15 caracteres
              }
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-6">
          <mat-form-field class="example-form-field w-100">
            <mat-label>Contraseña</mat-label>
            <input formControlName="direccion" matInput type="text" />
            <mat-error>
              @if(usuarioFormulario.get('direccion')?.hasError('required')) { Este campo es
              requerido }
              @else if(usuarioFormulario.get('direccion')?.hasError('maxlength')){
                La dirección no puede tener más de 50 caracteres
              }
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-6">
          <mat-form-field class="example-form-field w-100">
            <mat-label>Contraseña</mat-label>
            <input formControlName="telefono" matInput type="text" />
            <mat-error>
              @if(usuarioFormulario.get('telefono')?.hasError('required')) { Este campo es
              requerido }
              @else if(usuarioFormulario.get('telefono')?.hasError('maxlength')){
                El telefono no puede tener más de 10 caracteres
              }
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-6">
          <mat-form-field class="example-form-field w-100">
            <mat-label>seleccione el rol de la persona</mat-label>
              <select matNativeControl required formControlName="rol">
                <option value="admin">Administrador</option>
                <option value="user">Usuario</option>
              </select>
              @if (usuarioFormulario.get('rol')?.hasError('required')) {
                <mat-error>Este campo es
                  requerido</mat-error>
              }
          </mat-form-field>
        </div>
      </div>
    </form>
  </div>
  
  <div mat-dialog-actions>
    <button mat-dialog-close mat-button>Cancelar</button>
    <button (click)="onSave()" mat-button>Guardar</button>
  </div>

