<mat-drawer-container class="example-container" fullscreen>
    <!-- SIDEBAR (MENU LATERAL) -->
    <mat-drawer #drawer class="example-sidenav fondo" mode="side">
      <mat-list role="list" class="posicion-elemntos-lista">
        <mat-list-item role="listitem"><a 
          routerLinkActive="active"
          routerLink="usuarios"
          ><mat-icon aria-hidden="false" fontIcon="person"></mat-icon>
          Usuarios</a></mat-list-item>
        <mat-list-item role="listitem"><a 
          routerLinkActive="active"
          routerLink="alumnos"
          ><mat-icon aria-hidden="false" fontIcon="group" class="pocicion-iconos"></mat-icon>
          Alumnos</a></mat-list-item>
        <mat-list-item role="listitem"><a 
          routerLinkActive="active"
          routerLink="maestros"
          ><mat-icon aria-hidden="false" fontIcon="people_outline" class="pocicion-iconos"></mat-icon>
          Maestros</a></mat-list-item>
        <mat-list-item role="listitem"><a 
          routerLinkActive="active"
          routerLink="materias"
          ><mat-icon aria-hidden="false" fontIcon="poll" class="pocicion-iconos"></mat-icon>
          Materias</a></mat-list-item>
      </mat-list>
    </mat-drawer>
  
    <!-- AREA DERECHA (CONTENIDO) -->
    <div class="example-sidenav-content">
      <!-- TOOLBAR -->
      <mat-toolbar class="fondo">
        <button
          (click)="drawer.toggle()"
          mat-icon-button
          class="example-icon"
          aria-label="Example icon-button with menu icon"
        >
          <mat-icon>menu</mat-icon>
        </button>
        <span>Gestión de escuela</span>
      </mat-toolbar>
    </div>
    <router-outlet />
  </mat-drawer-container>
  
