<h1 mat-dialog-title>
    {{ data?.editarMaestro ? "Editando" : "Creando" }} maestro
  </h1>
  
  <div mat-dialog-content>
    <form [formGroup]="maestroFormulario">
      <div class="row">
        <div class="col-6">
          <mat-form-field class="example-form-field w-100">
            <mat-label>Nombre</mat-label>
            <input formControlName="nombre" matInput type="text" />
            <mat-error>
              @if(maestroFormulario.get('nombre')?.hasError('required')) { Este campo es
              requerido }
              @else if(maestroFormulario.get('nombre')?.hasError('maxlength')){
                El nombre no puede tener más de 30 caracteres
              }
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-6">
          <mat-form-field class="example-form-field w-100">
            <mat-label>Apellido</mat-label>
            <input formControlName="apellido" matInput type="text" />
            <mat-error>
              @if(maestroFormulario.get('apellido')?.hasError('required')) { Este campo es
              requerido }
              @else if(maestroFormulario.get('apellido')?.hasError('maxlength')){
                El apellido no puede tener más de 30 caracteres
              }
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-4">
          <mat-form-field class="example-form-field w-100">
            <mat-label>Edad</mat-label>
            <input formControlName="edad" matInput type="number" />
            <mat-error>
              @if(maestroFormulario.get('edad')?.hasError('required')) { Este campo es
              requerido }
              @else if(maestroFormulario.get('edad')?.hasError('edadInvalida')){La edad 
                debe estar entre 18 y 90 años
              }
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-4">
          <mat-form-field class="example-form-field w-100">
            <mat-label>seleccione el genero de la persona</mat-label>
              <select matNativeControl required formControlName="genero">
                <option value="Hombre">Hombre</option>
                <option value="Mujer">Mujer</option>
              </select>
              @if (maestroFormulario.get('genero')?.hasError('required')) {
                <mat-error>Este campo es
                  requerido</mat-error>
              }
          </mat-form-field>
        </div>
      </div>
    </form>
  </div>
  
  <div mat-dialog-actions>
    <button mat-dialog-close mat-button>Cancelar</button>
    <button (click)="onSave()" mat-button>Guardar</button>
  </div>
